@font-face {
    font-family: 'Univers';
    src: url('fonts/UniversLTStd.eot');
    src: url('fonts/UniversLTStd.woff2') format('woff2'),
        url('fonts/UniversLTStd.woff') format('woff'),
        url('fonts/UniversLTStd.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('fonts/UniversLTStd-Obl.eot');
    src: url('fonts/UniversLTStd-Obl.woff2') format('woff2'),
        url('fonts/UniversLTStd-Obl.woff') format('woff'),
        url('fonts/UniversLTStd-Obl.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Univers';
    src: url('fonts/UniversLTStd-Light.eot');
    src: url('fonts/UniversLTStd-Light.woff2') format('woff2'),
        url('fonts/UniversLTStd-Light.woff') format('woff'),
        url('fonts/UniversLTStd-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('fonts/UniversLTStd-LightObl.eot');
    src: url('fonts/UniversLTStd-LightObl.woff2') format('woff2'),
        url('fonts/UniversLTStd-LightObl.woff') format('woff'),
        url('fonts/UniversLTStd-LightObl.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers-Ex';
    src: url('fonts/UniversLTStd-Ex.eot');
    src: url('fonts/UniversLTStd-Ex.woff2') format('woff2'),
        url('fonts/UniversLTStd-Ex.woff') format('woff'),
        url('fonts/UniversLTStd-Ex.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('fonts/UniversLTStd-Bold.eot');
    src: url('fonts/UniversLTStd-Bold.woff2') format('woff2'),
        url('fonts/UniversLTStd-Bold.woff') format('woff'),
        url('fonts/UniversLTStd-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Univers';
    src: url('fonts/UniversLTStd-Bold.eot');
    src: url('fonts/UniversLTStd-Bold.woff2') format('woff2'),
        url('fonts/UniversLTStd-Bold.woff') format('woff'),
        url('fonts/UniversLTStd-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}



