@font-face {
    font-family: 'Moderat';
    src: url('fonts/Moderat-Regular.eot');
    src: url('fonts/Moderat-Regular.woff2') format('woff2'),
        url('fonts/Moderat-Regular.woff') format('woff'),
        url('fonts/Moderat-Regular.ttf') format('truetype');
}

